<div class="content">
  <div class="form-container">
    <div class="title-container">
      <h2>Datos<br>veterinario</h2>
    </div>
    <div class="form-content">
      <form id="formVet">
        <!-- Hidden input field for ID -->
        <input type="hidden" field="*{id}"/>

        <div class="form-group">
          <label for="idCard">Cédula</label>
          <div class="container">
            <div class="paw-container">
              <i class="fa-solid fa-paw">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
              </i>
            </div>
            <input name="idCard" [(ngModel)]="formVet.idCard" type="text" class="form-control" id="idCard"
                   placeholder="0">
          </div>
        </div>
        <div class="form-group">
          <label for="firstName">Nombre</label>
          <div class="container">
            <div class="paw-container">
              <i class="fa-solid fa-paw">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
              </i>
            </div>
            <input name="firstName" [(ngModel)]="formVet.firstName" type="text" class="form-control" id="firstName"
                   placeholder="Nombre">
          </div>
        </div>
        <div class="form-group">
          <label for="firstLastName">Apellido 1</label>
          <div class="container">
            <div class="paw-container">
              <i class="fa-solid fa-paw">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
              </i>
            </div>
            <input name="firstLastName" [(ngModel)]="formVet.firstLastName" type="text" class="form-control"
                   id="firstLastName"
                   placeholder="Apellido 1">
          </div>
        </div>
        <div class="form-group">
          <label for="secondLastName">Apellido 2</label>
          <div class="container">
            <div class="paw-container">
              <i class="fa-solid fa-paw">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
              </i>
            </div>
            <input name="secondLastName" [(ngModel)]="formVet.secondLastName" type="text" class="form-control"
                   id="secondLastName" placeholder="Apellido 2">

          </div>
        </div>
        <div class="form-group">
          <label for="speciality">Especialidad</label>
          <div class="container">
            <div class="paw-container">
              <i class="fa-solid fa-paw">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
              </i>
            </div>
            <input name="speciality" [(ngModel)]="formVet.speciality" type="text" class="form-control" id="speciality"
                   placeholder="Especialidad">
          </div>
        </div>
        <div class="form-group">
          <label for="imgUrl">Imagen</label>
          <div class="container">
            <div class="paw-container">
              <i class="fa-solid fa-paw">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
              </i>
            </div>
            <input name="imgUrl" [(ngModel)]="formVet.imgUrl" type="text" class="form-control" id="imgUrl"
                   placeholder="URL">
          </div>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <div class="container">
            <div class="paw-container">
              <i class="fa-solid fa-paw">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
              </i>
            </div>
            <input name="password" [(ngModel)]="formVet.password" type="password" class="form-control" id="password"
                   placeholder="Contraseña">
          </div>
        </div>
        <div class="buttons-container">
          <a [routerLink]="['/vet/all']" class="btn btn-secondary">Cancelar</a>
          <button type="submit" (click)="saveVet()">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
