*{
    font-family: 'Poppins', sans-serif;
}
/* Nav  component*/
nav {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 10vh;
    padding:1vh 0;
    background: #E1F4FB;
}

nav ul{
    flex: 1;
    text-align: right;
    padding-right: 2vh;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0.5vh 3vh;
}

nav ul li a{
    color:#000000;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-size: 2vh;
    transition: color 0.3s ease;
}

nav ul li a::after{
    content:'';
    width:0;
    height:0.5vh;
    position: absolute;
    bottom:-5%;
    left:50%;
    transform: translateX(-50%);
    background: #517B86;
    transition: width 0.4s;
}

nav ul li a:hover::after{
    width: 100%;
}

.line-one{
    z-index: 1;
    position:absolute;
    width:3vw;
    height:100%;
    background: #B1D4E0;
    left: 5%;
}

.line-two{
    z-index: 1;
    position:absolute;
    width:1.5vw;
    height:100%;
    background: #ffffff;
    left: 9vw;
}

#first-page{
    position: relative;
    background: #E1F4FB;
    height:90vh;
}

#first-page .main-content {
    position:relative;
    margin-left: 10%;
    height: 100%;
    display: flex;
}


#first-page .main-content .info{
    flex:0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6vw;
}

#first-page .main-content .info .description{
    display: flex;
    align-items:center;
}


#first-page .main-content .info .description .line-three{
    width:3vw;
    height:0.3vw;
    background: #F45E2A;
}

#first-page .main-content .info .description p{
    margin-top: 2vh;
    font-size: 1.2vw;
    margin-left: 1%;
    color: #F45E2A;
    font-weight: 400;
}

#first-page .main-content .info h1{
    font-size: 4vw;
    color: #000000;
    font-weight: 700;
    line-height: 1.5;
}

#first-page .main-content .info h2{
    margin-top: 1vh;
    font-size: 1.2vw;
    color: #000000;
    font-weight: 400;
    line-height: 2;
}

#first-page .main-content .info .btns{
    display:flex;
    margin-top: 2vh;
}

#first-page .main-content .info a{
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 1.5vw;
    font-weight: 700;
    border-radius: 1vh;
}

#first-page .main-content .info .login{
    background-color: #517B86;
    color: #ffffff;
    margin-right: 1vh;
}

#first-page .main-content .info .tutorial{
    background-color: #ffffff;
    color: #000000;
    margin-left: 1vh;
}

#first-page .main-content .images{
    flex:0.6;
    position: relative;
}
#first-page .main-content .images .main-cat {
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 5%;
    
}

#first-page .circle {
    width: 100%;
    height: 90%; 
    border: 6vw solid #B1D4E0; 
    border-radius: 100%; 
    position: absolute;
    bottom: -10%;
    right: 5%;
}


#second-page{
    position: relative;
    background: #ffffff;
    height:100vh;
    width: 100%;
}