<div class="stripes">

    <div class="line-one"></div>
    <div class="line-two"></div>
</div>
<nav>

    <ul>
        <li><a>Sobre nosotros</a></li>
        <li><a>Reviews</a></li>
        <li><a>Servicio</a></li>
        <li><a>Adicionales</a></li>
        <li><a id="btn-login" href="http://localhost:4200/login/show">Ingresar</a></li>
    </ul>
    
</nav>
<div id="sections">
    <div id="first-page">

        

        <div class="main-content">
            <div class="info">
                <div class="description">
                    <div class="line-three"></div>
                    <p>Clinica Veterinaria</p>
                </div>
                <h1>Cuidado Veterinario de Calidad</h1>
                <h2>Somos la mejor veterinaria del país, con los mejores especialistas y la última tecnología.</h2>
                <div class="btns">
                    <a class="login" href="http://localhost:4200/login/show">Ingresa</a>
                    <a class="tutorial">Tutorial</a>
                </div>
            </div>
            <div class="images">
                <img class="main-cat" src="/assets/images/landing/main-cat.png">
                <div class="circle"></div>
            </div>
        </div> 
        
    </div>

    <div id="second-page">
        <p>Hola</p>
    </div>
    
</div>