<div class="stripes">

    <div class="line-one"></div>
    <div class="line-two"></div>
</div>

<nav>

    <ul>
        <li><a href="#first-page">Sobre nosotros</a></li>
        <li><a href="#second-page">Reviews</a></li>
        <li><a href="#third-page">Servicio</a></li>
        <li><a href="#fourth-page">Adicionales</a></li>
        <li><a id="btn-login" href="http://localhost:4200/login/show">Ingresar</a></li>
    </ul>

</nav>

<div id="sections">
    <div id="first-page">

        <div class="main-content">
            <div class="info">
                <div class="description">
                    <div class="line-three"></div>
                    <p>Clinica Veterinaria</p>
                </div>
                <h1>Cuidado Veterinario de Calidad</h1>
                <h2>Somos la mejor veterinaria del país, con los mejores especialistas y la última tecnología.</h2>
                <div class="btns">
                    <a class="login" href="http://localhost:4200/login/show">Ingresa</a>
                </div>
            </div>
            <div class="images">
                <img class="main-cat" src="/assets/images/landing/main-cat.png">
                <div class="circle"></div>
            </div>
        </div>

    </div>

    <div id="second-page">
        <div class="services">

            <div class="service">
                <div class="service-img">
                    <img class="service-img-comp" src="/assets/images/landing/services/clock.svg">
                </div>
                <p>24 horas los 7 días de la semana</p>
            </div>

            <div class="service">
                <div class="service-img">
                    <img class="service-img-comp" src="/assets/images/landing/services/pills.svg">
                </div>
                <p>Tratamientos a medida</p>
            </div>

            <div class="service">
                <div class="service-img">
                    <img class="service-img-comp" src="/assets/images/landing/services/calendar.svg">
                </div>
                <p>Citas médicas flexibles</p>
            </div>

            <div class="service">
                <div class="service-img">
                    <img class="service-img-comp" src="/assets/images/landing/services/vet.svg">
                </div>
                <p>Contacto directo con veterinarios</p>
            </div>
            <div class="service">
                <div class="service-img">
                    <img class="service-img-comp" src="/assets/images/landing/services/cat.svg">
                </div>
                <p>Cuidado de tus mascotas</p>
            </div>


        </div>

        <div class="reviews">
            <h1>Opiniones de nuestros dueños</h1>
            <h2>Aquí puedes ver algunos de los comentarios de nuestros pacientes más satisfechos.</h2>

            <div class ="container-reviews">

                <div class="review reviews-carousel">

                    <div class="r-container-a">
                        <div class="r-details">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.kbfqBAI5WHjiefXdgj-tQQHaE5%26pid%3DApi&f=1&ipt=6869c5c81c50f76e2738364716558ebce3723a4dd094d0d9179cd54b1525d0dc&ipo=images">
                            <div class="r-rating">
                                <h3>Alejandro Espitia</h3>
                                <h4>Dueño de Rodolofo</h4>
                                <div class="r-stars">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                </div>
                            </div>
                        </div>
                        <div class="r-description">
                            <p>Bigotes es nuestra veterinaria de confianza. Su página web hace que sea fácil acceder a información y ver a nuestros gatos. La mejor atención para nuestras mascotas.</p>
                        </div>
                    </div>

                    <div class="r-container-a selected">
                        <div class="r-details">
                            <img src="https://images.pexels.com/photos/3652805/pexels-photo-3652805.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                            <div class="r-rating">
                                <h3>Mónica González</h3>
                                <h4>Dueña de Copito</h4>
                                <div class="r-stars">
                                    <img src="/assets/images/landing/reviews/white-star.svg">
                                    <img src="/assets/images/landing/reviews/white-star.svg">
                                    <img src="/assets/images/landing/reviews/white-star.svg">
                                    <img src="/assets/images/landing/reviews/white-star.svg">
                                    <img src="/assets/images/landing/reviews/white-star.svg">
                                </div>
                            </div>
                        </div>
                        <div class="r-description">
                            <p>Desde el primer instante, quedó claro que el personal de la clínica tiene un profundo amor y respeto por los animales. Fui recibido con una sonrisa amable y mi mascota fue saludada con caricias y mimos.</p>
                        </div>
                    </div>

                    <div class="r-container-a">
                        <div class="r-details">
                            <img src="https://images.pexels.com/photos/16577560/pexels-photo-16577560/free-photo-of-cat-lying-down.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                            <div class="r-rating">
                                <h3>Laura Cuadros</h3>
                                <h4>Dueña de Mimosa</h4>
                                <div class="r-stars">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                </div>
                            </div>
                        </div>
                        <div class="r-description">
                            <p>No puedo expresar lo agradecida que estoy por haber encontrado esta increíble clínica veterinaria. Desde el primer instante que crucé la puerta.</p>
                        </div>
                    </div>

                    <div class="r-container-a">
                        <div class="r-details">
                            <img src="https://images.pexels.com/photos/16577560/pexels-photo-16577560/free-photo-of-cat-lying-down.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                            <div class="r-rating">
                                <h3>Nathalie Ramirez</h3>
                                <h4>Dueña de Lilo</h4>
                                <div class="r-stars">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                </div>
                            </div>
                        </div>
                        <div class="r-description">
                            <p>No puedo expresar lo agradecida que estoy por haber encontrado esta increíble clínica veterinaria. Desde el primer instante que crucé la puerta.</p>
                        </div>
                    </div>

                    <div class="r-container-a">
                        <div class="r-details">
                            <img src="https://images.pexels.com/photos/16577560/pexels-photo-16577560/free-photo-of-cat-lying-down.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                            <div class="r-rating">
                                <h3>Laura Cuadros</h3>
                                <h4>Dueña de Mimosa</h4>
                                <div class="r-stars">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                    <img src="/assets/images/landing/reviews/black-star.svg">
                                </div>
                            </div>
                        </div>
                        <div class="r-description">
                            <p>No puedo expresar lo agradecida que estoy por haber encontrado esta increíble clínica veterinaria. Desde el primer instante que crucé la puerta.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div id="third-page">

        <h1>Conoce nuestros médicos expertos</h1>
        <h2>Nuestra veterinaria ofrece a tu mascota un rango completo de servicios de salud.</h2>

        <div class="container-vet">
            <div class="vet">
                <div class="container-img">
                    <img src="/assets/images/people/doctorA.png">
                </div>
                <h3>Médica Alfonsa Parra</h3>
                <p>Cardióloga</p>
            </div>

            <div class="vet">
                <div class="container-img">
                    <img src="/assets/images/people/doctorB.png">
                </div>
                <h3>Médico Diego Buitrago</h3>
                <p>Oncólogo</p>
            </div>

            <div class="vet">
                <div class="container-img">
                    <img src="/assets/images/people/doctorC.png">
                </div>
                <h3>Médico Pablo Páez</h3>
                <p>Dermatólogo</p>
            </div>
        </div>

    </div>

    <div id="fourth-page">
        <div class="main-container">
            <div class="upper">
                <div class="title">
                    <h2>¿Por qué escoger nuestra veterinaria?</h2>
                    <h1>24/7</h1>
                </div>
                <img src="/assets/images/landing/aditional/cute-cat.png">
            </div>
            <div class="lower">
                <div class="info-container">
                    <h3>150</h3>
                    <h4>dueños</h4>
                    <p>satisfechos con el servicio de la veterinaria.</p>
                </div>

                <div class="info-container">
                    <h3>20</h3>
                    <h4>años</h4>
                    <p>alegrando la vida de las mascotas y de sus dueños.</p>
                </div>

                <div class="info-container">
                    <h3>5200</h3>
                    <h4>gatos</h4>
                    <p>atendidos con éxito dentro de la veterinaria.</p>
                </div>

                <div class="info-container">
                    <h3>100</h3>
                    <h4>veterinarios</h4>
                    <p>realizando su trabajo de la mejor manera posible.</p>
                </div>
            </div>
        </div>

    </div>

</div>
