<nav>
    <img class="icon" src="/assets/images/landing/Bigotes.svg">


    <div class="menu">
        <div class="button1">
            <a href="#aboutUs">Sobre nosotros</a>
        </div>
        <div class="button1">
            <a href="#reviews">Reviews</a>
        </div>
        <div class="button1">
            <a href="#vet-section">Especialistas</a>
        </div>
        <div id="goLogin" class="button1">
            <a href="http://localhost:4200/login/show">Ingresar al portal</a>
        </div>
    </div>
</nav>

<div class="content">
    <div class="info">
        <section class="information">
            <h1>
                Veterinaria en Bogotá
            </h1>
            <p>
                Somos la mejor veterinaria del país, con los mejores especialistas y la última tecnología.
            </p>
            <div class="button2">
                <a href="http://localhost:4200/login/show">Agendate ahora</a>
            </div>

        </section>
        <img id="cat1" src="/assets/images/landing/cat1.png">
    </div>
    <section id="aboutUs" class="aboutUs">
        <div class="description flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div class="content">
                        <img class="icon" src="/assets/images/landing/itemA.svg">
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="content">
                        <h1>Tratamientos a medida</h1>
                        <p>Nuestros tratamientos a medida en Bigotes aseguran que cada mascota reciba atención
                            veterinaria adaptada a sus necesidades individuales, promoviendo su salud y felicidad de
                            manera óptima.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="description flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div class="content">
                        <img class="icon" src="/assets/images/landing/itemB.svg">
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="content">
                        <h1>Citas médicas</h1>
                        <p>En Bigotes, facilitamos la programación de citas médicas flexibles y convenientes,
                            brindando a los dueños de mascotas la oportunidad de recibir atención veterinaria de
                            calidad sin complicaciones.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="description flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div class="content">
                        <img class="icon" src="/assets/images/landing/itemC.svg">
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="content">
                        <h1>Contacto directo con veterinarios</h1>
                        <p>En Bigotes, garantizamos un contacto directo con veterinarios, brindando respuestas y
                            orientación sin demoras para cuidar de tus mascotas de la mejor manera posible.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="reviews">

        <img id="reviewsCat" src="/assets/images/landing/catReviews.png">


        <div class="reviewsOuterContainer">
            <div class="reviewsTitle">
                <h1>Reviews</h1>

            </div>
            <div class="progress-1"></div>




            <div id="reviewsInnerContainer">
                <div id="reviewsHeader">

                    <img id="reviewsCatImg" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.kbfqBAI5WHjiefXdgj-tQQHaE5%26pid%3DApi&f=1&ipt=6869c5c81c50f76e2738364716558ebce3723a4dd094d0d9179cd54b1525d0dc&ipo=images">

                    <div id="reviewsData">
                        <h2 id="reviewsDataName">Fabio Buitrago</h2>
                        <p id="reviewsDataCat">Dueño de Maw: Gato persa</p>
                    </div>

                </div>

                <div id="reviewsContent">
                    <p id="reviewsText">Desde el primer instante, quedó claro que el personal de la clínica tiene un
                        profundo amor y
                        respeto por los animales.
                        Fui recibido con una sonrisa amable y mi mascota fue saludada con caricias y
                        mimos. Este
                        enfoque empático realmente
                        marcó la diferencia para mí, ya que mi mascota a menudo se siente nerviosa en
                        entornos
                        médicos.</p>
                </div>
            </div>

        </div>
    </section>


    <section id="vet-section">
        <div class="left">
            <div class="title">
                <h1>Nuestros<br>Especialistas</h1>
            </div>
            <div class="vet-cont">
                <div class="vet-info">
                    <h2 class="vet-name">{{ vetInfo[currentVetIndex].name }}</h2>
                    <p class="vet-description">{{ vetInfo[currentVetIndex].description }}</p>
                    <h3 class="vet-interests-title">Intereses</h3>
                    <ul class="vet-interests-list">
                        <li *ngFor="let interest of vetInfo[currentVetIndex]?.interests">{{ interest }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="vet-image">
            <img [src]="vetInfo[currentVetIndex].imageSrc" alt="Veterinarian Image" >
            </div>
        </div>
        <div class="navigation-buttons">
            <button (click)="prevButtonClick()">&lt;</button>
            <button (click)="nextButtonClick()">&gt;</button>
        </div>
    </section>
    <section id="footer-basic">
        <div class="footer-cont logo">
            <img src="/assets/images/footer/footerLogo.png" alt="Logo Footer">
            <p> Bigotes © 2023</p>
            <div class="subscribe-form">
                <h2>¡Suscríbete a nuestro boletín!</h2>
                <p>Recibe las últimas novedades y promociones.</p>
                <form>
                    <input type="email" placeholder="Ingresa tu correo" required>
                    <button type="submit">Suscribirse</button>
                </form>
            </div>
        </div>
        <div class="footer-cont link">
            <div class="footer-item">
                <img src="/assets/images/footer/iconA.png" alt="icon A">
                <p>bigotes_veterinaria@vet.org.co </p>
            </div>
            <div class="footer-item">
                <img src="/assets/images/footer/iconB.png" alt="iconB">
                <p>(+57) 321487321</p>
            </div>
            <div class="footer-item">
                <img src="/assets/images/footer/iconC.png" alt="icon C">
                <p>Carrera 100 No. 27 - 11 Bogotá</p>
            </div>
        </div>
        <div class="footer-cont media">
            <h1>Sobre la compañia</h1>
            <p>Bigotes es una veterinaria especializada en gatos, con los mejores especialistas del país</p>
            <div class="social-media">
                <img src="/assets/images/footer/instagram.png" alt="instagram">
                <img src="/assets/images/footer/twitter.png" alt="twitter">
                <img src="/assets/images/footer/facebook.png" alt="facebook">
            </div>
        </div>
    </section>
</div>