<div class="sidebar" [ngClass]="userType === 'user' ? 'userStyles' : 'vetStyles'">
  <div class="sidebar">
    <img class="icon" src="assets/images/vet/Bigotes-2.png">
    <h4>Filtros</h4>
    <div class="filters">
      <div>
        <input type="checkbox" id="filterNamePet" [(ngModel)]="isNameFilterActive" (change)="filterPetsByName()">
        <label for="filterNamePet">Nombre mascota</label>
      </div>
      <div class="search-input">
        <input type="text" id="searchPet" placeholder="Inserte el nombre de la mascota" [(ngModel)]="filterText" (input)="filterPetsByName()">
        <span class="search-icon"><i class="fas fa-search"></i></span>
      </div>
    </div>
    <div *ngIf="userType === 'vet'">
      <h4>Adicionales</h4>
      <div class="addSection">
        <a [routerLink]="['/pet/save']">Agregar mascota</a>
        <a [routerLink]="['/owner/all']" [queryParams]="{type:userType, id:vetId}">Mostrar dueños</a>
      </div>
    </div>
    <a id="cerrar-sesion" [routerLink]="['/login/show']">
      Cerrar sesión
    </a>
  </div>
  <div class="content">
    <div class="head" *ngIf="userType === 'vet'" >
      <h1>Nuestras Mascotas</h1>
      <h2>Veterinario</h2>
      <img class="icon" src="assets/images/users/FotoUser.png">
    </div>
    <div class="head" *ngIf="userType === 'user'" >
      <h1>Mis Mascotas</h1>
      <h2>Dueño</h2>
      <img class="icon" src="assets/images/users/FotoOwner.png">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Nombre mascota</th>
        <th scope="col">Raza</th>
        <th scope="col">Edad</th>
        <th scope="col">Peso</th>
        <th scope="col">Enfermedad</th>
        <th scope="col">Adicionales</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pet of filterPetsByName() || petList">
        <td class="firstLine">
          <img class="petImage" src="{{ pet.imgUrl }}" alt="Imagen de la mascota" id="petImg" width="50" height="50">
          <span class= "imagenPerro">{{ pet.name }}</span>
        </td>
        <td>{{ pet.breed }}</td>
        <td>{{ pet.calculateAge() }} años</td>
        <td>{{ pet.weight }} gr</td>
        <td>{{ pet.disease }}</td>
        <td id="more">
          <div *ngIf="userType ==='vet'">
            <a (click)="deleteById(pet)">
              <img src="assets/images/vet/deleteIcon.png">
            </a>
            <a [routerLink]="['/pet/save']" [queryParams]="{ petId: pet.id }"> <img src="assets/images/vet/editIcon.png"> </a>
          </div>
            <a [routerLink]="['/pet/detail', pet.id]" [queryParams]="{ type: userType, id: vetId, petId: pet.id }">...</a>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
