<div class="content">
    <div class="form-container">
        <div class="title-container">
            <h2>Datos<br>DUEÑO</h2>
        </div>
        <div class="form-content">
            <form id = "formOwner" >
                <!-- Hidden input field for ID -->
                <input type="hidden" field="*{id}" />

                <div class="form-group">
                    <label for="idCard">Cédula</label>
                    <div class="container">
                      <div class="paw-container">
                        <i class="fa-solid fa-paw">
                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
                        </i>
                      </div>
                        <input name="idCard" [(ngModel)]="formOwner.idCard" type="text" class="form-control" id="idCard" placeholder="0">
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstLastName">Apellido 1</label>
                    <div class="container">
                      <div class="paw-container">
                        <i class="fa-solid fa-paw">
                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
                        </i>
                      </div>
                        <input name="firstLastName"  [(ngModel)]="formOwner.firstLastName" type="text" class="form-control" id="firstLastName"
                               placeholder="Apellido 1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Celular</label>
                    <div class="container">
                      <div class="paw-container">
                        <i class="fa-solid fa-paw">
                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
                        </i>
                      </div>
                        <input name="phone" [(ngModel)]="formOwner.phone" type="tel" class="form-control" id="phone"
                               placeholder="Telefono">

                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">Nombre</label>
                    <div class="container">
                      <div class="paw-container">
                        <i class="fa-solid fa-paw">
                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
                        </i>
                      </div>
                        <input name="firstName" [(ngModel)]="formOwner.firstName" type="text" class="form-control"  id="firstName" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label for="secondLastName">Apellido 2</label>
                    <div class="container">
                      <div class="paw-container">
                        <i class="fa-solid fa-paw">
                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
                        </i>
                      </div>
                        <input name="secondLastName" [(ngModel)]="formOwner.secondLastName" type="text" class="form-control"  id="secondLastName" placeholder="Apellido 2">

                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Correo</label>
                    <div class="container">
                      <div class="paw-container">
                        <i class="fa-solid fa-paw">
                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"></svg>
                        </i>
                      </div>
                        <input name="email" [(ngModel)]="formOwner.email" type="email" class="form-control" id="email"
                               placeholder="Correo">
                    </div>
                </div>
                <div class="buttons-container">
                    <a [routerLink]="['/owner/all']"[queryParams]="{type:userType, id: vetId}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" (click)="saveOwner()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
