<div class="type" [ngClass]="{
       'userStyles': userType === 'user',
       'vetStyles': userType === 'vet',
       'adminStyles': userType === 'admin'
     }">
  <div *ngIf="userType === 'vet'">
    <nav>
      <div class="logo-container">
        <a href="">
          <img class="logo" src="../../../assets/images/showPet/logoVet.png">
        </a>
      </div>
    </nav>
  </div>
  <div *ngIf="userType === 'admin'">
    <nav>
      <div class="logo-container">
        <a href="">
          <img class="logo" src="../../../assets/images/users/logo-admin.png">
        </a>
      </div>
    </nav>
  </div>
  <div *ngIf="userType === 'user'">
    <nav>
      <div class="logo-container">
        <a href="">
          <img class="logo" src="../../../assets/images/showPet/logoOwner.svg">
        </a>
      </div>
    </nav>
  </div>

  <main>
    <section id="pet">
      <div>
        <img id="pet-img" src={{pet?.imgUrl}}>
      </div>
      <div id="pet-info">
        <div id="pet-data-container">
          <div id="pet-name">
            <h1><span>{{ pet?.name }}</span></h1>
          </div>
          <div id="pet-data">
            <div>
              <p><strong>Raza: </strong><span>{{ pet?.breed}}</span></p>
              <p><strong>Dueño: </strong><span>{{pet?.owner?.firstName}} {{pet?.owner?.firstLastName}}</span></p>
            </div>
            <div>
              <p><strong>Edad: </strong><span>{{ pet?.calculateAge() }} años</span></p>
              <p><strong>Peso: </strong><span>{{ pet?.weight }} gr</span></p>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>
  <div>
    <section id="history">
      <div id="history-title">
        <h1>Historial médico</h1>
        <div *ngIf="userType === 'vet'">
          <ng-container *ngIf="pet?.status !== 'Alta'">
          <form (submit)="agregarMedicamento()">
              <button id ="btn-add-treatment" type="submit">
                <img src="assets/images/showPet/add.svg">
              </button>
              <select id="selected-drug" [(ngModel)]="selectedDrug" name="selectedDrug">
                <option *ngFor="let drug of drugList" [ngValue]="drug">{{ drug.name }}</option>
              </select>
              <input id="field-description" [(ngModel)]="description" name="descripcion" placeholder="Descripción">
            </form>
          </ng-container>
        </div>
      </div>
      <table>
        <thead>
        <tr>
          <th scope="col">Enfermedad</th>
          <th scope="col">Tratamientos médicos</th>
          <th scope="col">Fecha</th>
          <th scope="col">Droga Sumnistrada</th>
          <th scope="col">Precio asociado</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let treatment of treatmentList">
          <td class="td-treatment-disease">{{ treatment.pet.disease }}</td>
          <td>{{ treatment.description }}</td>
          <td>{{ treatment.date }}</td>
          <td>{{ treatment.drug.name }}</td>
          <td>${{ treatment.drug.sellPrice }}</td>
        </tr>
        </tbody>
      </table>

    </section>
  </div>
</div>
