<iframe src="https://streamable.com/e/s6atx6?autoplay=1&nocontrols=1" allowfullscreen allow="autoplay"></iframe>
<div class="outer-container">
  <div class="container">
    <div class="outer">
      <img src="../../assets/images/login/catSymbol.svg" alt="Cat symbol">
      <div class="container-forms">
        <form id="formAdmin" class="form-active" (ngSubmit)="onSubmit()">
          <div class="page">
            <label>Admin</label>
            <p>Por favor ingresa la cédula y contraseña para acceder a la plataforma</p>
            <div class="element">
              <label for="idCardAdmin"></label>
              <input type="number" name="idCardAdmin" id="idCardAdmin" placeholder="Cédula">
            </div>
            <div class="element">
              <label for="passwordAdmin"></label>
              <input type="password" id="passwordAdmin" name="passwordAdmin" placeholder="Contraseña">
            </div>
            <button type="submit" id="btn-admin-submit" class="button">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

