<div class="d-flex" [ngClass]="userType=== 'admin' ? 'adminStyles' : 'vetStyles'">
  <div class="sidebar" [ngClass]="userType=== 'admin' ? 'adminStyles' : 'vetStyles'">
    <!-- Sidebar content -->
    <img class="icon" src="assets/images/vet/Bigotes-2.png">
    <!-- Dentro de tu barra lateral en el archivo HTML -->
    <h4>Filtros</h4>
    <div class="filters">

      <div>
        <input type="checkbox" id="filterNameOwner" [(ngModel)]="isNameFilterActive" (change)="filterOwnersByName()">
        <label id="checkbox" for="filterNameOwner">Nombre dueño</label>
      </div>
      <!-- Dentro de tu barra lateral en el archivo HTML -->
      <div class="search-input">
        <input type="text" id="searchPet" placeholder="Inserte el nombre del dueño" [(ngModel)]="filterText">
        <span class="search-icon"><i class="fas fa-search"></i></span>
      </div>


    </div>
    <div *ngIf="userType==='vet'">
      <h4>Adicionales</h4>
      <div class="addSection">
        <a id="btnsaveOwner" [routerLink]="['/owner/save']" [queryParams]="{id:vetId, type: userType}">Agregar dueño</a>
        <a id="btnAllPets" [routerLink]="['/pet/all']" [queryParams]="{id:vetId, type: userType}">Mostrar mascotas</a>
      </div>
    </div>
    <div *ngIf="userType==='admin'">
      <h4>Adicionales</h4>
      <div class="addSection">
        <a [routerLink]="['/owner/save']" [queryParams]="{id:vetId, type: userType}">Agregar dueño</a>
        <a [routerLink]="['/vet/all']" [queryParams]="{id:vetId, type: userType}">Mostrar veterinarios</a>
        <a [routerLink]="['/admin/dashboard']" [queryParams]="{id:vetId, type: userType}">Mostrar dashboard</a>
        <a [routerLink]="['/pet/all'] " [queryParams]="{id:vetId, type: userType}">Mostrar mascotas</a>
      </div>
    </div>

    <a id="cerrar-sesion" (click)="logOut()">
      Cerrar sesión
    </a>

  </div>

  <div class="content">
    <div class="head" *ngIf="userType === 'admin'" >
      <h1>Nuestros dueños</h1>
      <h2>Admin</h2>
      <img class="icon" src="assets/images/users/FotoAdmin.png">
    </div>
    <div class="head" *ngIf="userType === 'vet'" >
      <h1>Nuestros dueños</h1>
      <h2>Veterinario</h2>
      <img class="icon" src="assets/images/users/FotoUser.png">
      </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Cédula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Celular</th>
        <th scope="col">Correo</th>
        <th>Adicionales</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let owner of filterOwnersByName() || ownerList">
        <td class="ownerId">{{owner.idCard}}</td>
        <td>{{owner.firstName}}</td>
        <td> {{owner.firstLastName}}</td>
        <td>{{owner.phone}}</td>
        <td>{{owner.email}}</td>
        <td id="more">
          <!--add pet to owner we need the path-->
          <a (click)="deleteById(owner)">
            <img src="assets/images/vet/deleteIcon.png">
          </a>
          <a [routerLink]="['/owner/save']" [queryParams]="{ ownerId: owner.id , id:vetId, type: userType}"> <img
            src="assets/images/vet/editIcon.png"> </a>

          <a [routerLink]="['/owner/detail', owner.id]" [queryParams]="{id:vetId, type: userType}">
            <svg xmlns="http://www.w3.org/2000/svg" height="0.6em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
          </a>

        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
