<div class="d-flex">
    <div class="sidebar">
        <img class="icon" src="assets/images/vet/Bigotes-2.png">
        <h4>Filtros</h4>
        <div class="filters">

            <div>
                <input type="checkbox" id="filterNameVet" [(ngModel)]="isNameFilterActive" (change)="filterVetsByName()">
                <label id="checkbox" for="filterNameVet">Nombre veterinario</label>
            </div>
            <div class="search-input">
                <input type="text" id="searchVet" placeholder="Inserte el nombre del veterinario" [(ngModel)]="filterText">
                <span class="search-icon"><i class="fas fa-search"></i></span>
            </div>


        </div>
        <h4>Adicionales</h4>
        <div class="addSection">
          <a (click)="openModal()">Agregar veterinario</a>
          <a [routerLink]="['/admin/dashboard']" [queryParams]="{type:'admin'}">Mostrar dashboard</a>
          <a [routerLink]="['/owner/all']" [queryParams]="{type:'admin'}">Mostrar dueños</a>
          <a [routerLink]="['/pet/all']" [queryParams]="{type:'admin'}">Mostrar mascotas</a>
        </div>
      <a id="cerrar-sesion" (click)="logOut()">
        Cerrar sesión
      </a>

    </div>

    <div class="content">
        <div class="head">
            <h1>Nuestros Veterinarios</h1>
            <h2>Administrador</h2>
            <img class="icon" src="assets/images/users/FotoAdmin.png">
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Veterinario</th>
                <th scope="col">Cédula</th>
                <th scope="col">Especialidad</th>
                <th>Adicionales</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vet of filterVetsByName()">
                <td class="firstLine">
                    <img class="petImage" src="{{ vet.imgUrl }}" alt="Imagen deL médico" id="vetImg" width="50" height="50">
                    <span class= "imagenPerro">{{ vet.firstName + ' ' + vet.firstLastName + ' ' + vet.secondLastName }}</span>
                  </td>
                <td>{{vet.idCard}}</td>
                <td>{{vet.speciality}}</td>
                <td id="more">
                    <!--add pet to vet we need the path-->
                    <a (click)="deleteById(vet)">
                        <img src="assets/images/vet/deleteIcon.png">
                    </a>
                    <a (click)="editVet(vet.id)"> <img src="assets/images/vet/editIcon.png"> </a>

                    <a [routerLink]="['/vet/detail', vet.id]"[queryParams]="{type:userType}">
                      <svg xmlns="http://www.w3.org/2000/svg" height="0.6em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                    </a>

                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<div *ngIf="modalSwitch === true">
    <app-vet-modal [vet]="vetSelected"></app-vet-modal>
</div>

