<div class="d-flex">
    <div class="sidebar">
        <img class="icon" src="assets/images/vet/Bigotes-2.png">
        <h4>Filtros</h4>
        <div class="filters">

            <div>
                <input type="checkbox" id="filterNameOwner">
                <label for="filterNameOwner">Nombre veterinario</label>
            </div>
            <div class="search-input">
                <input type="text" id="searchVet" placeholder="Inserte el nombre del veterinario">
                <span class="search-icon"><i class="fas fa-search"></i></span>
            </div>


        </div>
        <h4>Adicionales</h4>
        <div class="addSection">
            <a [routerLink]="['/vet/save']">Agregar veterinario</a>
        </div>
        <p>Cerrar Sesión</p>

    </div>

    <div class="content">
        <div class="head">
            <h1>Nuestros Veterinarios</h1>
            <h2>Administrador</h2>
            <img class="icon" src="assets/images/users/FotoAdmin.png">
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Veterinario</th>
                <th scope="col">Cédula</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Especialidad</th>
                <th>Adicionales</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vet of filterVetsByName() || vetList">
                <td class="firstLine">
                    <img class="petImage" src="{{ vet.imgUrl }}" alt="Imagen deL médico" id="vetImg" width="50" height="50">
                    <span class= "imagenPerro">{{ vet.firstName + ' ' + vet.firstLastName + ' ' + vet.secondLastName }}</span>
                  </td>
                <td>{{vet.idCard}}</td>
                <td >{{vet.password}}</td>
                <td>{{vet.speciality}}</td>
                <td id="more">
                    <!--add pet to vet we need the path-->
                    <a (click)="deleteById(vet)">
                        <img src="assets/images/vet/deleteIcon.png">
                    </a>
                    <a [routerLink]="['/vet/save']" [queryParams]="{ vetId: vet.id }"> <img src="assets/images/vet/editIcon.png"> </a>

                    <a [routerLink]="['/vet/detail', vet.id]"> ... </a>

                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
