* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding:0;
}

.sidebar {
    background-color: #34344C;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 1rem;
}

.sidebar img{
    width: 80%;
    margin-left: 10%;
  margin-bottom: 20%;
}
.sidebar h4 {
  font-size: 1.3rem;
  margin-left: 10%;
  color: #FFFFFF;
  margin-bottom: 20%;
  margin-top: 20%;
}

.addSection {
  display: flex;
  flex-direction: column;
  background-color: #34344C;
  /* Color de fondo del sidebar */
  color: #FFFFFF;
  /* Color del texto */
  margin-bottom: 70%;
}
.addSection a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  padding: 5%;
}

.addSection a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.20);
  border-left: #FFFFFF 0.2rem solid;
  color: #FFFFFF;
  border-right: rgba(255, 255, 255, 0.20);
  border-bottom: #34344C 0.2rem solid;
  border-top: #34344C 0.2rem solid;
  /* Cambia el color del texto al hacer hover */
}
#cerrar-sesion{
  text-align: center;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
}

#cerrar-sesion:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.20);
  border-left: #FFFFFF 0.2rem solid;
  color: #FFFFFF;
  border-right: rgba(255, 255, 255, 0.20);
  border-bottom: #34344C 0.2rem solid;
  border-top: #34344C 0.2rem solid;
}

.grid-container{
  grid-column: 2/3;
  grid-row: 1/2;
  background: #D9D9D9;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 2fr 2fr;
  padding: 2rem;
}

.grid-container > * {
  border-radius: 1rem;
  margin: 0.5rem;
}

.tratamientos-mes{
  grid-column: 1/2;
  grid-row: 1/5;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 4fr;
}

.tratamientos-mes .tratamientos-cantidad {
  grid-column: 1/2;
  grid-row: 1/2;
}

.tratamientos-mes .medicamentos-texto {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 1rem 2rem;
}

.tratamientos-mes .medicamentos-texto h4{
  font-size: 1.5rem;
  color: #34344C;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.tratamientos-mes .medicamentos-texto p{
  font-size: 0.7rem;
  font-weight: lighter;
}

.ventas{
  grid-column: 2/3;
  grid-row: 1/2;
}

.ganancias{
  grid-column: 2/3;
  grid-row: 2/3;
}

.ventas, .ganancias, .tratamientos-mes .tratamientos-cantidad{
  background: #34344C;
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
  color: white;
  justify-content: space-between;
}

.tratamientos-mes .tratamientos-cantidad{
  padding: 1rem 2rem;
  border-radius: 1rem 1rem 0 0;
}

.ventas img, .ganancias img, .tratamientos-mes .tratamientos-cantidad img{
  width: 4rem;
}

.ventas .texto h3, .ganancias .texto h3, .tratamientos-mes .tratamientos-cantidad .texto h3{
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.ventas .texto p, .ganancias .texto p, .tratamientos-mes .tratamientos-cantidad .texto p{
  font-size: 0.75rem;
  margin: 0.5rem 0;
  font-weight: lighter;
}


.tratamientos-mes .tabla-medicamentos{
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 1rem auto;
  width: 90%;

}

.tratamientos-mes .tabla-medicamentos table {
  border-collapse: separate;
  border-spacing: 0;
  text-align: center;
  width: 100%;
}

.tratamientos-mes .tabla-medicamentos table thead tr {
  background-color: #D9D9D9;
}

.tratamientos-mes .tabla-medicamentos table th {
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  font-weight: normal;
  border-bottom: 0.1rem solid #ddd;
}

.tratamientos-mes .tabla-medicamentos table td {
  padding: 0.8rem 0.2rem;
  font-size: 0.8rem;
  border-bottom: 0.1rem solid #ddd;
  margin-left: 1rem;
  width: 60%;
}

.tratamientos-mes table thead tr th:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.tratamientos-mes table thead tr th:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.tratamientos-mes .scroll{
  overflow-y: auto;
  max-height: 45vh;
}


.tratamientos-top{
  background: white;
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tratamientos-top .texto{
  padding: 1rem 2rem;
}

.tratamientos-top .texto h2{
  font-size: 1.5rem;
  color: #34344C;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.tratamientos-top .texto p{
  font-size: 0.7rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.tratamientos-top img{
  width: 5rem;
}

.tratamientos-top ol{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tratamientos-top li h2{
  font-size: 1.25rem;
  font-weight: normal;
}

.tratamientos-top li p{
  font-size: 0.7rem;
  font-weight: lighter;
}

.vet-pet{
  background: white;
  grid-column: 2/3;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.vet-pet .mascotas-total{
  grid-column: 1/2;
  grid-row: 1/2;
}

.vet-pet .mascotas-tratamiento{
  grid-column: 1/2;
  grid-row: 2/3;
}

.vet-pet .veterinarios-activos{
  grid-column: 2/3;
  grid-row: 1/2;
}

.vet-pet .veterinarios-inactivos{
  grid-column: 2/3;
  grid-row: 2/3;
}

.mascotas-total, .mascotas-tratamiento, .veterinarios-activos, .veterinarios-inactivos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 1rem 5rem;
}

.mascotas-total img, .mascotas-tratamiento img, .veterinarios-activos img, .veterinarios-inactivos img{
  width: 3rem;
  margin-right: 1rem;
}

.mascotas-total h3, .mascotas-tratamiento h3, .veterinarios-activos h3, .veterinarios-inactivos h3{
  font-size: 2rem;
  font-weight: bold;
}

.mascotas-total p, .mascotas-tratamiento p, .veterinarios-activos p, .veterinarios-inactivos p{
  font-size: 0.7rem;
  font-weight: lighter;
  white-space: nowrap;
}
