<div class="container">
  <div class="sidebar">
    <img class="icon" src="assets/images/vet/Bigotes-2.png">
    <h4>Adicionales</h4>
    <div class="addSection">
      <a [routerLink]="['/vet/all']">Mostrar veterinarios</a>
      <a [routerLink]="['/pet/all']">Mostrar dueños</a>
      <a [routerLink]="['/owner/all']">Mostrar mascotas</a>
    </div>

    <a id="cerrar-sesion" [routerLink]="['/login/show']">
      Cerrar sesión
    </a>
  </div>

  <div class="grid-container">
    <div class="tratamientos-mes">
      <div class="tratamientos-cantidad">
        <div class="texto">
          <h3>{{ numberOfTreatmentsByMonth }}</h3>
          <p>Tratamientos en este mes</p>
        </div>
        <img src="../../assets/images/dashboard/bandita.png">
      </div>
      <div class="medicamentos-texto">
        <h4>Medicamentos</h4>
        <p>Cantidad de tratamientos por tipo de medicamento administrado en el último mes.</p>
      </div>
      <div class="tabla-medicamentos">
        <table>
          <thead>
          <tr>
            <th>Medicamento</th>
            <th>Cantidad</th>
          </tr>
          </thead>
        </table>
        <div class="scroll">
          <table>
            <tbody>
            <tr *ngFor="let drug of drugListByMonth">
              <td>{{ drug[0] | lowercase}}</td>
              <td>{{ drug[1] }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ventas">
      <div class="texto">
        <h3>${{totalSales | number}}</h3>
        <p>Ventas totales</p>
      </div>
      <img src="../../assets/images/dashboard/dinero.png">
    </div>
    <div class="ganancias">
      <div class="texto">
        <h3>${{totalProfit | number}}</h3>
        <p>Ganancias totales</p>
      </div>
      <img src="../../assets/images/dashboard/dinero.png">
    </div>
    <div class="tratamientos-top">
      <div class="texto">
        <h2>Top medicamentos</h2>
        <p>Top 3 drogas con más unidades vendidas</p>
        <img src="../../assets/images/dashboard/podio.png">
      </div>
      <ol>
        <li *ngFor="let drug of top3DrugList">
          <h2>{{ drug.name }}</h2>
          <p>{{ drug.itemsSell }} unidad(es) vendidas</p>
        </li>
      </ol>
    </div>
    <div class="vet-pet">
      <div class="mascotas-total">
        <img src="../../assets/images/dashboard/pata2.png">
        <div class="texto">
          <h3>{{numberOfPets}}</h3>
          <p>Total mascotas</p>
        </div>
      </div>
      <div class="mascotas-tratamiento">
        <img src="../../assets/images/dashboard/pata1.png">
        <div class="texto">
          <h3>{{numberOfPetsOnTreatment}}</h3>
          <p>Mascotas en tratamiento</p>
        </div>
      </div>
      <div class="veterinarios-activos">
        <img src="../../assets/images/dashboard/veterinario_activo.png">
        <div class="texto">
          <h3>{{numberOfActiveVets}}</h3>
          <p>Veterinarios activos</p>
        </div>
      </div>
      <div class="veterinarios-inactivos">
        <img src="../../assets/images/dashboard/veterinario_inactivo.png">
        <div class="texto">
          <h3>{{numberOfInactiveVets}}</h3>
          <p>Veterinarios inactivos</p>
        </div>
      </div>
    </div>
  </div>

