<div class ="container">
  <div class="sidebar">
    <img class="icon" src="assets/images/vet/Bigotes-2.png">
    <a id="cerrar-sesion" [routerLink]="['/login/show']">
      Cerrar sesión
    </a>
  </div>

  <div class="grid-container">
    <div class="tratamientos-mes">
        <div class="tratamientos-cantidad">
            <div class="texto">
                <h3>400</h3>
                <p>Tratamientos en este mes</p>
            </div>
          <img src="../../assets/images/dashboard/bandita.png">
        </div>
        <div class="medicamentos-texto">
            <h4>Medicamentos</h4>
            <p>Cantidad de tratamientos por tipo de medicamento administrado en el último mes.</p>
        </div>
        <div class="scroll">
          <table>
            <thead>
            <tr>
              <th>Medicamento</th>
              <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Medicamento 1</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 2</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 3</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 4</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 5</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 1</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 2</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 3</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 4</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 5</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 1</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 2</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 3</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 4</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 5</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 1</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 2</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 3</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 4</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Medicamento 5</td>
              <td>100</td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="ventas">
      <div class="texto">
        <h3>$100'000.000</h3>
        <p>Ventas totales</p>
      </div>
      <img src="../../assets/images/dashboard/dinero.png">
    </div>
    <div class="ganancias">
      <div class="texto">
        <h3>$32'000.000</h3>
        <p>Ganancias totales</p>
      </div>
      <img src="../../assets/images/dashboard/dinero.png">
    </div>
    <div class="tratamientos-top">

    </div>
    <div class="vet-pet">

    </div>
  </div>
</div>

